In [5]:
import yfinance as yf
import pandas as pd
from pandas import DataFrame

In [6]:
tickers='ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,ANSS,AAPL,AMAT,APP,ARM,ASML,AZN,TEAM,ADSK,ADP,BKR,BIIB,BKNG,AVGO,CDNS,CDW,CHTR,CTAS,CSCO,CCEP,CTSH,CMCSA,CEG,CPRT,CSGP,COST,CRWD,CSX,DDOG,DXCM,FANG,DASH,EA,EXC,FAST,FTNT,GEHC,GILD,GFS,HON,IDXX,ILMN,INTC,INTU,ISRG,KDP,KLAC,KHC,LRCX,LIN,LULU,MAR,MRVL,MELI,META,MCHP,MU,MSFT,MRNA,MDLZ,MDB,MNST,NFLX,NVDA,NXPI,ORLY,ODFL,ON,PCAR,PANW,PAYX,PYPL,PDD,PEP,QCOM,REGN,ROP,ROST,SBUX,SMCI,SNPS,TTWO,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS'

In [7]:
new_tickers = tickers.replace(',',"','")
print(new_tickers)

ADBE','AMD','ABNB','GOOGL','GOOG','AMZN','AEP','AMGN','ADI','ANSS','AAPL','AMAT','APP','ARM','ASML','AZN','TEAM','ADSK','ADP','BKR','BIIB','BKNG','AVGO','CDNS','CDW','CHTR','CTAS','CSCO','CCEP','CTSH','CMCSA','CEG','CPRT','CSGP','COST','CRWD','CSX','DDOG','DXCM','FANG','DASH','EA','EXC','FAST','FTNT','GEHC','GILD','GFS','HON','IDXX','ILMN','INTC','INTU','ISRG','KDP','KLAC','KHC','LRCX','LIN','LULU','MAR','MRVL','MELI','META','MCHP','MU','MSFT','MRNA','MDLZ','MDB','MNST','NFLX','NVDA','NXPI','ORLY','ODFL','ON','PCAR','PANW','PAYX','PYPL','PDD','PEP','QCOM','REGN','ROP','ROST','SBUX','SMCI','SNPS','TTWO','TMUS','TSLA','TXN','TTD','VRSK','VRTX','WBD','WDAY','XEL','ZS

In [8]:
tickers=['ADBE','AMD','ABNB','GOOGL','GOOG','AMZN','AEP','AMGN','ADI','AAPL','AMAT','APP','ARM','ASML','AZN','TEAM','ADSK','ADP','BKR','BIIB','BKNG','AVGO','CDNS','CDW','CHTR','CTAS','CSCO','CCEP','CTSH','CMCSA','CEG','CPRT','CSGP','COST','CRWD','CSX','DDOG','DXCM','FANG','DASH','EA','EXC','FAST','FTNT','GEHC','GILD','GFS','HON','IDXX','ILMN','INTC','INTU','ISRG','KDP','KLAC','KHC','LRCX','LIN','LULU','MAR','MRVL','MELI','META','MCHP','MU','MSFT','MRNA','MDLZ','MDB','MNST','NFLX','NVDA','NXPI','ORLY','ODFL','ON','PCAR','PANW','PAYX','PYPL','PDD','PEP','QCOM','REGN','ROP','ROST','SBUX','SMCI','SNPS','TTWO','TMUS','TSLA','TXN','TTD','VRSK','VRTX','WBD','WDAY','XEL','ZS']

## Ticker data download and saving to pickle file

In [9]:
raw_data = yf.download(tickers,'2005-01-01','2025-01-01', group_by='ticker', auto_adjust=False)

raw_data

[*********************100%***********************]  100 of 100 completed

Ticker            NXPI                                                  \
Price             Open        High         Low       Close   Adj Close
Date
2005-01-03         NaN         NaN         NaN         NaN         NaN
2005-01-04         NaN         NaN         NaN         NaN         NaN
2005-01-05         NaN         NaN         NaN         NaN         NaN
2005-01-06         NaN         NaN         NaN         NaN         NaN
2005-01-07         NaN         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
2024-12-24  214.919998  215.410004  212.309998  215.399994  212.371750
2024-12-26  213.000000  217.380005  213.000000  215.039993  212.016800
2024-12-27  213.330002  214.949997  211.669998  213.759995  210.754791
2024-12-30  211.550003  211.949997  206.789993  207.470001  204.553238
2024-12-31  208.740005  209.490005  206.339996  207.850006  204.927887

Ticker                       TTWO                                      ...  \
Price          Volume        Open        High         Low       Close  ...
Date                                                                   ...
2005-01-03        NaN   23.393333   23.693333   23.240000   23.586666  ...
2005-01-04        NaN   23.200001   23.540001   22.366667   22.600000  ...
2005-01-05        NaN   22.639999   22.853333   22.346666   22.400000  ...
2005-01-06        NaN   22.420000   22.700001   21.873333   21.933332  ...
2005-01-07        NaN   21.686666   22.219999   21.253332   21.500000  ...
...               ...         ...         ...         ...         ...  ...
2024-12-24   790900.0  184.000000  185.820007  183.630005  185.389999  ...
2024-12-26   885700.0  184.750000  187.559998  184.710007  187.160004  ...
2024-12-27  1162100.0  187.429993  188.360001  184.699997  186.429993  ...
2024-12-30  1817900.0  184.190002  185.929993  182.000000  184.539993  ...
2024-12-31  1154500.0  184.770004  185.770004  183.649994  184.080002  ...

Ticker             APP                                          ORLY  \
Price              Low       Close   Adj Close     Volume       Open
Date
2005-01-03         NaN         NaN         NaN        NaN   1.507333
2005-01-04         NaN         NaN         NaN        NaN   1.511667
2005-01-05         NaN         NaN         NaN        NaN   1.493000
2005-01-06         NaN         NaN         NaN        NaN   1.500667
2005-01-07         NaN         NaN         NaN        NaN   1.486333
...                ...         ...         ...        ...        ...
2024-12-24  341.311005  341.829987  341.829987  1312400.0  80.435333
2024-12-26  336.350006  346.730011  346.730011  1825300.0  80.798668
2024-12-27  326.684998  335.170013  335.170013  2506500.0  79.731331
2024-12-30  325.209991  335.380005  335.380005  2291600.0  79.685333
2024-12-31  318.720001  323.829987  323.829987  2981700.0  79.047997

Ticker
Price            High        Low      Close  Adj Close    Volume
Date
2005-01-03   1.519000   1.486000   1.503000   1.503000  11958000
2005-01-04   1.513667   1.497333   1.498000   1.498000  10593000
2005-01-05   1.515333   1.493000   1.496333   1.496333   6216000
2005-01-06   1.503000   1.476667   1.482667   1.482667   4950000
2005-01-07   1.493333   1.465000   1.478667   1.478667   4920000
...               ...        ...        ...        ...       ...
2024-12-24  82.120003  80.435333  81.443336  81.443336   2206500
2024-12-26  81.610001  80.414001  80.452003  80.452003   3999000
2024-12-27  80.687332  79.487335  79.823334  79.823334   3256500
2024-12-30  79.685333  78.300003  78.661331  78.661331   5572500
2024-12-31  79.431335  78.708000  79.053329  79.053329   4365000

[5033 rows x 600 columns]

In [10]:
adj_close_dict = {}

for ticker in tickers :
  adj_close_dict[ticker] = raw_data[ticker]['Adj Close']

data = pd.DataFrame(adj_close_dict)
data.head()

,ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,AAPL,...,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-03,30.838949,21.410000,NaN,5.038075,5.014511,2.2260,15.008295,44.091778,22.522354,0.949987,...,NaN,NaN,15.185584,NaN,NaN,10.24,NaN,NaN,8.347398,NaN
2005-01-04,30.024111,20.209999,NaN,4.834026,4.811416,2.1070,14.950943,43.392128,21.909630,0.959743,...,NaN,NaN,14.821321,NaN,NaN,10.09,NaN,NaN,8.222327,NaN
2005-01-05,29.859142,19.750000,NaN,4.809422,4.786927,2.0885,14.774486,42.706203,22.008654,0.968149,...,NaN,NaN,14.375437,NaN,NaN,9.90,NaN,NaN,8.129683,NaN
2005-01-06,29.364239,19.719999,NaN,4.686148,4.664229,2.0525,14.778892,43.104046,21.971521,0.968900,...,NaN,NaN,14.318910,NaN,NaN,10.52,NaN,NaN,8.115784,NaN
2005-01-07,29.384233,19.920000,NaN,4.817872,4.795338,2.1160,14.721533,43.193226,22.002455,1.039446,...,NaN,NaN,14.394268,NaN,NaN,10.49,NaN,NaN,8.069462,NaN

In [11]:
data= data.round(2)
data.head()

,ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,AAPL,...,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-03,30.84,21.41,NaN,5.04,5.01,2.23,15.01,44.09,22.52,0.95,...,NaN,NaN,15.19,NaN,NaN,10.24,NaN,NaN,8.35,NaN
2005-01-04,30.02,20.21,NaN,4.83,4.81,2.11,14.95,43.39,21.91,0.96,...,NaN,NaN,14.82,NaN,NaN,10.09,NaN,NaN,8.22,NaN
2005-01-05,29.86,19.75,NaN,4.81,4.79,2.09,14.77,42.71,22.01,0.97,...,NaN,NaN,14.38,NaN,NaN,9.90,NaN,NaN,8.13,NaN
2005-01-06,29.36,19.72,NaN,4.69,4.66,2.05,14.78,43.10,21.97,0.97,...,NaN,NaN,14.32,NaN,NaN,10.52,NaN,NaN,8.12,NaN
2005-01-07,29.38,19.92,NaN,4.82,4.80,2.12,14.72,43.19,22.00,1.04,...,NaN,NaN,14.39,NaN,NaN,10.49,NaN,NaN,8.07,NaN

In [12]:
data.to_pickle('cached_data/all_data.pkl')

In [13]:
data= pd.read_pickle('cached_data/all_data.pkl')

In [14]:
data.head()

,ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,AAPL,...,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-03,30.84,21.41,NaN,5.04,5.01,2.23,15.01,44.09,22.52,0.95,...,NaN,NaN,15.19,NaN,NaN,10.24,NaN,NaN,8.35,NaN
2005-01-04,30.02,20.21,NaN,4.83,4.81,2.11,14.95,43.39,21.91,0.96,...,NaN,NaN,14.82,NaN,NaN,10.09,NaN,NaN,8.22,NaN
2005-01-05,29.86,19.75,NaN,4.81,4.79,2.09,14.77,42.71,22.01,0.97,...,NaN,NaN,14.38,NaN,NaN,9.90,NaN,NaN,8.13,NaN
2005-01-06,29.36,19.72,NaN,4.69,4.66,2.05,14.78,43.10,21.97,0.97,...,NaN,NaN,14.32,NaN,NaN,10.52,NaN,NaN,8.12,NaN
2005-01-07,29.38,19.92,NaN,4.82,4.80,2.12,14.72,43.19,22.00,1.04,...,NaN,NaN,14.39,NaN,NaN,10.49,NaN,NaN,8.07,NaN

## Benchmark data download and saving to pickle file

In [15]:
raw_data_benchmark = yf.download("^GSPC",'2005-01-01','2025-01-01', group_by='ticker', auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [16]:
raw_data_benchmark.head()

Ticker            ^GSPC                                                      \
Price              Open         High          Low        Close    Adj Close
Date
2005-01-03  1211.920044  1217.800049  1200.319946  1202.079956  1202.079956
2005-01-04  1202.079956  1205.839966  1185.390015  1188.050049  1188.050049
2005-01-05  1188.050049  1192.729980  1183.719971  1183.739990  1183.739990
2005-01-06  1183.739990  1191.630005  1183.270020  1187.890015  1187.890015
2005-01-07  1187.890015  1192.199951  1182.160034  1186.189941  1186.189941

Ticker
Price           Volume
Date
2005-01-03  1510800000
2005-01-04  1721000000
2005-01-05  1738900000
2005-01-06  1569100000
2005-01-07  1477900000

In [17]:
benchmark_data_dict={}
benchmark_data_dict['S&P 500']= raw_data_benchmark['^GSPC']['Adj Close']
benchmark_data= pd.DataFrame(benchmark_data_dict)

In [18]:
benchmark_data.to_pickle('cached_data/benchmark_data.pkl')

In [19]:
ben_data= pd.read_pickle('cached_data/benchmark_data.pkl')
ben_data.head()

                S&P 500
Date
2005-01-03  1202.079956
2005-01-04  1188.050049
2005-01-05  1183.739990
2005-01-06  1187.890015
2005-01-07  1186.189941

## Checking the price diff for just one stock

In [20]:
single_days = data['AAPL']
single_monthly = single_days.resample('M').last()
single_monthly.head()

/var/folders/cf/l478l_0d3t579xssqhkwdgzh0000gn/T/ipykernel_72278/2424209343.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  single_monthly = single_days.resample('M').last()

Date
2005-01-31    1.15
2005-02-28    1.35
2005-03-31    1.25
2005-04-30    1.08
2005-05-31    1.19
Freq: ME, Name: AAPL, dtype: float64

Setting the start and end price based on lookback and skip period

In [21]:
lookback=6
skip_months = 1
today = pd.to_datetime("2024-12-07")

end = (today-pd.DateOffset(months=skip_months+1))+ pd.offsets.MonthEnd(0)
start = (today-pd.DateOffset(months=lookback+1))+pd.offsets.MonthEnd(0)


print(f'end: {end}')    
print(f'start: {start}')

end: 2024-10-31 00:00:00
start: 2024-05-31 00:00:00

Finding the price and backward fill if the price is not found

In [22]:
try:
    start_price = single_days.loc[start]
    print("Found start_price:", start_price)
except:
    start_price = single_days[single_days.index <= start].max()
    print("Fallback start_price:", start_price)

try:
    end_price = single_days.loc[end]
    print("Found end_price:", end_price)
except:
    end_price = single_days[single_days.index <= end].max()
    print("Fallback end_price:", end_price)


diff = (end_price- start_price).round(2)
print(f'Diff: {diff}')

Found start_price: 191.14
Found end_price: 224.86
Diff: 33.72

## Check the diff for multiple stocks

In [23]:
all_data  = data.copy()
monthly = all_data.resample('M').last()
monthly.head()

/var/folders/cf/l478l_0d3t579xssqhkwdgzh0000gn/T/ipykernel_72278/2268063964.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly = all_data.resample('M').last()

,ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,AAPL,...,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-31,28.44,15.80,NaN,4.86,4.84,2.16,15.55,42.69,22.21,1.15,...,NaN,NaN,14.59,NaN,NaN,10.17,NaN,NaN,8.43,NaN
2005-02-28,30.87,17.45,NaN,4.67,4.65,1.76,14.88,42.26,22.76,1.35,...,NaN,NaN,16.64,NaN,NaN,11.54,NaN,NaN,8.21,NaN
2005-03-31,33.58,16.12,NaN,4.49,4.47,1.71,15.18,39.93,22.40,1.25,...,NaN,NaN,16.03,NaN,NaN,9.36,NaN,NaN,8.06,NaN
2005-04-30,29.74,14.23,NaN,5.47,5.44,1.62,15.69,39.93,21.15,1.08,...,NaN,NaN,15.71,NaN,NaN,9.53,NaN,NaN,8.06,NaN
2005-05-31,33.12,16.40,NaN,6.89,6.86,1.78,16.06,42.93,23.05,1.19,...,NaN,NaN,17.40,NaN,NaN,13.92,NaN,NaN,8.64,NaN

In [24]:
lookback=6
skip_months = 1
today = pd.to_datetime("2024-12-07")


# Goes to the second last month and sets the date to the last of that month
end_date = (today-pd.DateOffset(months=skip_months+1))+ pd.offsets.MonthEnd(0)
start_date = (today-pd.DateOffset(months=lookback+1))+pd.offsets.MonthEnd(0)


print(f'end date: {end_date}')    
print(f'start date: {start_date}')

end date: 2024-10-31 00:00:00
start date: 2024-05-31 00:00:00

In [25]:
try:
    start_price = monthly.loc[start_date]
    #print("Found start_price:\n", start_price)
except:
    start_price = monthly[monthly.index <= start].max()
    #print("Fallback start_price:\n", start_price)

try:
    end_price = monthly.loc[end_date]
    #print("Found end_price:\n", end_price)
except:
    end_price = monthly[monthly.index <= end].max()
    #print("Fallback end_price:\n", end_price)


diff = ((end_price- start_price).nlargest(5)).round(2)
print('-------')

diff.head()
start_price.head()
print(diff.index)

-------
Index(['BKNG', 'MELI', 'NFLX', 'ISRG', 'META'], dtype='object')

In [26]:

comparison = pd.concat([start_price.loc[diff.index], end_price.loc[diff.index], diff], axis=1)
comparison.columns= ['Start Price','End Price','Diff']
print(comparison)

      Start Price  End Price    Diff
BKNG      3732.19    4642.95  910.76
MELI      1725.58    2037.18  311.60
NFLX       641.62     756.03  114.41
ISRG       402.12     503.84  101.72
META       464.46     565.80  101.34

## Rolling period

In [27]:
df=single
anchor_today = pd.to_datetime('2024-12-07')
times = 3
lookback=6
skip_months = 1
top_k =2 

# Calculate the start and end date
def cal_start_end(anchor):
  end_date = (anchor-pd.DateOffset(months=skip_months+1))+ pd.offsets.MonthEnd(0)
  start_date = (anchor-pd.DateOffset(months=lookback+1+skip_months))+pd.offsets.MonthEnd(0)

  return start_date, end_date

# the prev available date
def on_or_before(date, col=None):
  
  if date in df.index:
    val = df.loc[date, col] if col is not None else df.loc[date]
    prev_date =date

  else:  
    pos = df.index.searchsorted(date, side='left')-1
    if pos<0:
      raise ValueError("No available date on/before the given date")
    prev_date = df.index[pos]
    val= df.loc[prev_date, col] if col is not None else df.loc[prev_date]

  return val, prev_date

# the next available date
def on_or_after(date , col=None):
  
  pos= df.index.searchsorted(date, side='left')
  if pos<0:
      raise ValueError("No available date on/before the given date")
  next_date = df.index[pos]

  val= df.loc[next_date,col] if col is not None else df.loc[next_date]

  return val, next_date



# comparison = pd.concat([start_price.loc[diff.index], end_price.loc[diff.index], diff], axis=1)
# comparison.columns= ['Start Price','End Price','Diff']
# print(comparison)

NameError: name 'single' is not defined

In [ ]:
start_invest = pd.to_datetime("2024-08-07") 
end_invest = pd.to_datetime("2024-12-01")   
buy_date = start_invest
trade_records= []
capital=100
ben_capital =100 

str_returns = []
ben_returns = [] 

while buy_date<=end_invest: 

  # Cal period
  buy_date = buy_date.replace(day=1)  
  sell_date = buy_date + pd.offsets.MonthEnd(0)
  start_period, end_period = cal_start_end(buy_date)
  
  # Start-End price and max diff
  start_price, start_date = on_or_before(start_period)
  end_price, end_date = on_or_before(end_period)
  diffs = (end_price-start_price).round(2)
  leaders = diffs.nlargest(top_k)
  
  
  w_each = 1/top_k
  capital_before = capital
  portfolio_return=0

  for ticker in leaders.index:
    invest_price, invest_date = on_or_after(buy_date,ticker)
    sell_price, sell_date = on_or_before(sell_date,ticker)
    r = (sell_price-invest_price)/invest_price  
    portfolio_return += w_each*r

    trade_records.append({ 
      "invest_date": invest_date,
      "sell_date": sell_date,
      "window_start": start_date ,
      "window_end" : end_date,
      "ticker" : ticker,
      "start price": start_price[ticker],
      "end_price": end_price[ticker],
      "invest_price": invest_price,
      "sell_price":sell_price,
      "return":r 
    })

  capital *= (1+portfolio_return)
  str_returns.append(round(capital,2))
  

  
    # Benchmark returns
    ben_capital_before = ben_capital
    ben_return = (ben_data.loc[sell_date,"S&P 500"] - ben_data.loc[invest_date,"S&P 500"])/ben_data.loc[invest_date,"S&P 500"]
    ben_capital *= 1+ ben_return
    ben_returns.append(round(ben_capital,2))  


  # Summary return
  trade_records.append({
      "invest_date": "SUMMARY" ,
      "sell_date": "SUMMARY",
      "window_start": "SUMMARY" ,
      "window_end" : "SUMMARY",
      "ticker" : "SUMMARY",
      "start price": "SUMMARY",
      "end_price": "SUMMARY",
      "invest_price": "SUMMARY",
      "sell_price": "SUMMARY", 
      "return": portfolio_return ,
      "capital_before":round(capital_before,2),
      "capital_after": round(capital,2),
      "Ben Capital before": round(ben_capital_before,2),
      "ben_capital_after": round(ben_capital,2)
    })

  buy_date = (buy_date + pd.DateOffset(months=1)).replace(day=1)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.lineplot(data=str_returns, ben_returns)

SyntaxError: positional argument follows keyword argument (949053818.py, line 1)

In [ ]:
trades_rolling = pd.DataFrame.from_records(trade_records)
print(trades_rolling)

            invest_date            sell_date         window_start  \
0   2024-08-01 00:00:00  2024-08-30 00:00:00  2023-12-29 00:00:00
1   2024-08-01 00:00:00  2024-08-30 00:00:00  2023-12-29 00:00:00
2               SUMMARY              SUMMARY              SUMMARY
3   2024-09-03 00:00:00  2024-09-30 00:00:00  2024-01-31 00:00:00
4   2024-09-03 00:00:00  2024-09-30 00:00:00  2024-01-31 00:00:00
5               SUMMARY              SUMMARY              SUMMARY
6   2024-10-01 00:00:00  2024-10-31 00:00:00  2024-02-29 00:00:00
7   2024-10-01 00:00:00  2024-10-31 00:00:00  2024-02-29 00:00:00
8               SUMMARY              SUMMARY              SUMMARY
9   2024-11-01 00:00:00  2024-11-29 00:00:00  2024-03-28 00:00:00
10  2024-11-01 00:00:00  2024-11-29 00:00:00  2024-03-28 00:00:00
11              SUMMARY              SUMMARY              SUMMARY
12  2024-12-02 00:00:00  2024-12-31 00:00:00  2024-04-30 00:00:00
13  2024-12-02 00:00:00  2024-12-31 00:00:00  2024-04-30 00:00:00
14              SUMMARY              SUMMARY              SUMMARY

             window_end   ticker start price end_price invest_price  \
0   2024-06-28 00:00:00     BKNG     3502.81   3930.94      3635.92
1   2024-06-28 00:00:00     ASML       745.1   1010.62       874.87
2               SUMMARY  SUMMARY     SUMMARY   SUMMARY      SUMMARY
3   2024-07-31 00:00:00     KLAC      586.07    815.48       735.94
4   2024-07-31 00:00:00     BKNG     3463.56   3686.35      3784.36
5               SUMMARY  SUMMARY     SUMMARY   SUMMARY      SUMMARY
6   2024-08-30 00:00:00     MELI      1595.3   2061.66      2066.12
7   2024-08-30 00:00:00     BKNG      3425.4   3879.08      4078.79
8               SUMMARY  SUMMARY     SUMMARY   SUMMARY      SUMMARY
9   2024-09-30 00:00:00     BKNG     3591.63   4189.32       4723.4
10  2024-09-30 00:00:00     MELI     1511.96   2051.96       2054.9
11              SUMMARY  SUMMARY     SUMMARY   SUMMARY      SUMMARY
12  2024-10-31 00:00:00     BKNG     3417.54   4650.94       5196.0
13  2024-10-31 00:00:00     MELI      1458.7   2037.18      1952.44
14              SUMMARY  SUMMARY     SUMMARY   SUMMARY      SUMMARY

   sell_price    return  capital_before  capital_after  Ben Capital before  \
0     3879.08  0.066877             NaN            NaN                 NaN
1      894.83  0.022815             NaN            NaN                 NaN
2     SUMMARY  0.044846          100.00         104.48              100.00
3      768.68  0.044487             NaN            NaN                 NaN
4     4189.32  0.107009             NaN            NaN                 NaN
5     SUMMARY  0.075748          104.48         112.40              103.70
6     2037.18 -0.014007             NaN            NaN                 NaN
7     4650.94  0.140274             NaN            NaN                 NaN
8     SUMMARY  0.063134          112.40         119.50              108.08
9     5173.82  0.095359             NaN            NaN                 NaN
10    1985.17 -0.033934             NaN            NaN                 NaN
11    SUMMARY  0.030713          119.50         123.17              108.02
12    4949.72 -0.047398             NaN            NaN                 NaN
13    1700.44 -0.129069             NaN            NaN                 NaN
14    SUMMARY -0.088234          123.17         112.30              113.75

    ben_capital_after
0                 NaN
1                 NaN
2              103.70
3                 NaN
4                 NaN
5              108.08
6                 NaN
7                 NaN
8              108.02
9                 NaN
10                NaN
11             113.75
12                NaN
13                NaN
14             110.63

In [6]:
import optuna
import optuna

# Define the objective function (what you want to minimize or maximize)
def objective(triall):
    # Ask Optuna to suggest a value for x between -10 and 10
    x = triall.suggest_int("x", -10, 10)
    # Define your function
    return (x - 2) ** 2  # we want to minimize this

# Create a study (optimization experiment)
study = optuna.create_study(direction="maximize")

# Run the optimization for, say, 50 trials
study.optimize(objective, n_trials=50)

# Print best result
print("Best value (minimum of function):", study.best_value)
print("Best x:", study.best_params)

[I 2025-10-08 18:27:02,192] A new study created in memory with name: no-name-745b9d9e-6ef0-4d8a-a1f4-d3ee583cf6e4
[I 2025-10-08 18:27:02,214] Trial 0 finished with value: 36.0 and parameters: {'x': -4}. Best is trial 0 with value: 36.0.
[I 2025-10-08 18:27:02,217] Trial 1 finished with value: 25.0 and parameters: {'x': -3}. Best is trial 0 with value: 36.0.
[I 2025-10-08 18:27:02,219] Trial 2 finished with value: 49.0 and parameters: {'x': -5}. Best is trial 2 with value: 49.0.
[I 2025-10-08 18:27:02,223] Trial 3 finished with value: 9.0 and parameters: {'x': -1}. Best is trial 2 with value: 49.0.
[I 2025-10-08 18:27:02,230] Trial 4 finished with value: 25.0 and parameters: {'x': 7}. Best is trial 2 with value: 49.0.
[I 2025-10-08 18:27:02,231] Trial 5 finished with value: 25.0 and parameters: {'x': 7}. Best is trial 2 with value: 49.0.
[I 2025-10-08 18:27:02,233] Trial 6 finished with value: 1.0 and parameters: {'x': 1}. Best is trial 2 with value: 49.0.
[I 2025-10-08 18:27:02,233] Trial 7 finished with value: 4.0 and parameters: {'x': 4}. Best is trial 2 with value: 49.0.
[I 2025-10-08 18:27:02,235] Trial 8 finished with value: 25.0 and parameters: {'x': 7}. Best is trial 2 with value: 49.0.
[I 2025-10-08 18:27:02,237] Trial 9 finished with value: 1.0 and parameters: {'x': 1}. Best is trial 2 with value: 49.0.
[I 2025-10-08 18:27:02,251] Trial 10 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,257] Trial 11 finished with value: 121.0 and parameters: {'x': -9}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,263] Trial 12 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,270] Trial 13 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,272] Trial 14 finished with value: 81.0 and parameters: {'x': -7}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,274] Trial 15 finished with value: 81.0 and parameters: {'x': -7}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,277] Trial 16 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,279] Trial 17 finished with value: 100.0 and parameters: {'x': -8}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,281] Trial 18 finished with value: 64.0 and parameters: {'x': -6}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,282] Trial 19 finished with value: 64.0 and parameters: {'x': 10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,283] Trial 20 finished with value: 16.0 and parameters: {'x': -2}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,285] Trial 21 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,286] Trial 22 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,287] Trial 23 finished with value: 100.0 and parameters: {'x': -8}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,289] Trial 24 finished with value: 49.0 and parameters: {'x': -5}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,290] Trial 25 finished with value: 100.0 and parameters: {'x': -8}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,292] Trial 26 finished with value: 64.0 and parameters: {'x': -6}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,296] Trial 27 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,298] Trial 28 finished with value: 100.0 and parameters: {'x': -8}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,300] Trial 29 finished with value: 36.0 and parameters: {'x': -4}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,302] Trial 30 finished with value: 1.0 and parameters: {'x': 3}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,306] Trial 31 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,308] Trial 32 finished with value: 121.0 and parameters: {'x': -9}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,309] Trial 33 finished with value: 121.0 and parameters: {'x': -9}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,311] Trial 34 finished with value: 64.0 and parameters: {'x': -6}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,312] Trial 35 finished with value: 25.0 and parameters: {'x': -3}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,313] Trial 36 finished with value: 81.0 and parameters: {'x': -7}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,315] Trial 37 finished with value: 36.0 and parameters: {'x': -4}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,316] Trial 38 finished with value: 121.0 and parameters: {'x': -9}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,317] Trial 39 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,318] Trial 40 finished with value: 49.0 and parameters: {'x': -5}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,319] Trial 41 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,321] Trial 42 finished with value: 121.0 and parameters: {'x': -9}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,322] Trial 43 finished with value: 100.0 and parameters: {'x': -8}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,324] Trial 44 finished with value: 144.0 and parameters: {'x': -10}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,325] Trial 45 finished with value: 81.0 and parameters: {'x': -7}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,326] Trial 46 finished with value: 121.0 and parameters: {'x': -9}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,328] Trial 47 finished with value: 4.0 and parameters: {'x': 0}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,329] Trial 48 finished with value: 81.0 and parameters: {'x': -7}. Best is trial 10 with value: 144.0.
[I 2025-10-08 18:27:02,331] Trial 49 finished with value: 9.0 and parameters: {'x': 5}. Best is trial 10 with value: 144.0.

Best value (minimum of function): 144.0
Best x: {'x': -10}

In [ ]:
def objective(trial):
  x= trial.suggest_float("x", -10, 10)
  return (x-2)**2

study = optuna.create_study(direction="minimize")

study.optimize(objective, n_trials=50)


print(study.best_vlauer)

In [ ]:

print("=== Test 9: Error Handling ===")

def objective_with_errors(trial, tickers, start_invest, end_invest, start_capital):
    """Test objective function that might fail"""
    lookback_months = trial.suggest_int("lookback_months", 1, 24)
    skip_months = trial.suggest_int("skip_months", 0, 6)
    top_k = trial.suggest_int("top_k", 1, 10)
    stop_loss = trial.suggest_float("stop_loss", 0, 0.5)

    # Simulate some failures
    if trial.number % 3 == 0:  # Fail every 3rd trial
        raise Exception("Simulated failure")

    try: 
        trade_records, capital, ben_capital, str_mon_returns, ben_mon_returns, \
            portfolio_value, benchmark_value, max_drawdown, max_drawdown_ben, \
            total_trades, wins = walk_forward(
                tickers, start_invest, end_invest, lookback_months, 
                skip_months, start_capital, stop_loss
            )
          
        sharpe = calc_sharpe(str_mon_returns, 0.04)
        
        if np.isnan(sharpe) or np.isinf(sharpe):
            return -1000
        
        return sharpe

    except Exception as e:
        print(f"Trial {trial.number} failed: {e}")
        return -1000

# Test error handling
study_errors = optuna.create_study(direction="maximize")
study_errors.optimize(
    lambda trial: objective_with_errors(trial, tickers, start_invest, end_invest, start_capital), 
    n_trials=10
)

print(f"Completed trials: {len([t for t in study_errors.trials if t.state == optuna.trial.TrialState.COMPLETE])}")
print(f"Failed trials: {len([t for t in study_errors.trials if t.state == optuna.trial.TrialState.FAIL])}")

[I 2025-10-09 22:26:59,814] A new study created in memory with name: no-name-7c850abf-01ed-4916-a40c-6878dcf2b5d1
[W 2025-10-09 22:26:59,817] Trial 0 failed with parameters: {} because of the following error: NameError("name 'tickers' is not defined").
Traceback (most recent call last):
  File "/opt/anaconda3/envs/test_env/lib/python3.13/site-packages/optuna/study/_optimize.py", line 201, in _run_trial
    value_or_values = func(trial)
  File "/var/folders/cf/l478l_0d3t579xssqhkwdgzh0000gn/T/ipykernel_96929/1480167394.py", line 37, in <lambda>
    lambda trial: objective_with_errors(trial, tickers, start_invest, end_invest, start_capital),
                                               ^^^^^^^
NameError: name 'tickers' is not defined
[W 2025-10-09 22:26:59,833] Trial 0 failed with value None.

=== Test 9: Error Handling ===

NameError: name 'tickers' is not defined