In [4]:
import yfinance as yf
import pandas as pd
from pandas import DataFrame

In [21]:
tickers='ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,ANSS,AAPL,AMAT,APP,ARM,ASML,AZN,TEAM,ADSK,ADP,BKR,BIIB,BKNG,AVGO,CDNS,CDW,CHTR,CTAS,CSCO,CCEP,CTSH,CMCSA,CEG,CPRT,CSGP,COST,CRWD,CSX,DDOG,DXCM,FANG,DASH,EA,EXC,FAST,FTNT,GEHC,GILD,GFS,HON,IDXX,ILMN,INTC,INTU,ISRG,KDP,KLAC,KHC,LRCX,LIN,LULU,MAR,MRVL,MELI,META,MCHP,MU,MSFT,MRNA,MDLZ,MDB,MNST,NFLX,NVDA,NXPI,ORLY,ODFL,ON,PCAR,PANW,PAYX,PYPL,PDD,PEP,QCOM,REGN,ROP,ROST,SBUX,SMCI,SNPS,TTWO,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS'

In [23]:
new_tickers = tickers.replace(',',"','")
print(new_tickers)

ADBE','AMD','ABNB','GOOGL','GOOG','AMZN','AEP','AMGN','ADI','ANSS','AAPL','AMAT','APP','ARM','ASML','AZN','TEAM','ADSK','ADP','BKR','BIIB','BKNG','AVGO','CDNS','CDW','CHTR','CTAS','CSCO','CCEP','CTSH','CMCSA','CEG','CPRT','CSGP','COST','CRWD','CSX','DDOG','DXCM','FANG','DASH','EA','EXC','FAST','FTNT','GEHC','GILD','GFS','HON','IDXX','ILMN','INTC','INTU','ISRG','KDP','KLAC','KHC','LRCX','LIN','LULU','MAR','MRVL','MELI','META','MCHP','MU','MSFT','MRNA','MDLZ','MDB','MNST','NFLX','NVDA','NXPI','ORLY','ODFL','ON','PCAR','PANW','PAYX','PYPL','PDD','PEP','QCOM','REGN','ROP','ROST','SBUX','SMCI','SNPS','TTWO','TMUS','TSLA','TXN','TTD','VRSK','VRTX','WBD','WDAY','XEL','ZS

In [24]:
tickers=['ADBE','AMD','ABNB','GOOGL','GOOG','AMZN','AEP','AMGN','ADI','ANSS','AAPL','AMAT','APP','ARM','ASML','AZN','TEAM','ADSK','ADP','BKR','BIIB','BKNG','AVGO','CDNS','CDW','CHTR','CTAS','CSCO','CCEP','CTSH','CMCSA','CEG','CPRT','CSGP','COST','CRWD','CSX','DDOG','DXCM','FANG','DASH','EA','EXC','FAST','FTNT','GEHC','GILD','GFS','HON','IDXX','ILMN','INTC','INTU','ISRG','KDP','KLAC','KHC','LRCX','LIN','LULU','MAR','MRVL','MELI','META','MCHP','MU','MSFT','MRNA','MDLZ','MDB','MNST','NFLX','NVDA','NXPI','ORLY','ODFL','ON','PCAR','PANW','PAYX','PYPL','PDD','PEP','QCOM','REGN','ROP','ROST','SBUX','SMCI','SNPS','TTWO','TMUS','TSLA','TXN','TTD','VRSK','VRTX','WBD','WDAY','XEL','ZS']

In [53]:
raw_data = yf.download(tickers,'2005-01-01','2025-01-01', group_by='ticker', auto_adjust=False)

[*********************100%***********************]  101 of 101 completed

In [54]:
raw_data['ANSS']['Adj Close']

Date
2005-01-03     16.125000
2005-01-04     16.200001
2005-01-05     16.200001
2005-01-06     15.720000
2005-01-07     14.865000
                 ...
2024-12-24    342.839996
2024-12-26    340.160004
2024-12-27    339.704987
2024-12-30    337.920013
2024-12-31    337.329987
Name: Adj Close, Length: 5033, dtype: float64

In [63]:
adj_close_dict = {}

for ticker in tickers :
  adj_close_dict[ticker] = raw_data[ticker]['Adj Close']

data = pd.DataFrame(adj_close_dict)

In [64]:
data= adj_close.round(2)
data.head()

,ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,ANSS,...,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-03,30.84,21.41,NaN,5.04,5.02,2.23,15.13,44.45,22.61,16.12,...,NaN,NaN,15.19,NaN,NaN,10.24,NaN,NaN,8.41,NaN
2005-01-04,30.02,20.21,NaN,4.84,4.82,2.11,15.07,43.74,22.00,16.20,...,NaN,NaN,14.82,NaN,NaN,10.09,NaN,NaN,8.29,NaN
2005-01-05,29.86,19.75,NaN,4.81,4.79,2.09,14.90,43.05,22.10,16.20,...,NaN,NaN,14.38,NaN,NaN,9.90,NaN,NaN,8.19,NaN
2005-01-06,29.36,19.72,NaN,4.69,4.67,2.05,14.90,43.45,22.06,15.72,...,NaN,NaN,14.32,NaN,NaN,10.52,NaN,NaN,8.18,NaN
2005-01-07,29.38,19.92,NaN,4.82,4.80,2.12,14.84,43.54,22.09,14.86,...,NaN,NaN,14.39,NaN,NaN,10.49,NaN,NaN,8.13,NaN

In [65]:
data.to_pickle('cached_data/all_data.pkl')

In [4]:
data= pd.read_pickle('cached_data/all_data.pkl')

In [6]:
data.head()

,ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,ANSS,...,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-03,30.84,21.41,NaN,5.04,5.02,2.23,15.13,44.45,22.61,16.12,...,NaN,NaN,15.19,NaN,NaN,10.24,NaN,NaN,8.41,NaN
2005-01-04,30.02,20.21,NaN,4.84,4.82,2.11,15.07,43.74,22.00,16.20,...,NaN,NaN,14.82,NaN,NaN,10.09,NaN,NaN,8.29,NaN
2005-01-05,29.86,19.75,NaN,4.81,4.79,2.09,14.90,43.05,22.10,16.20,...,NaN,NaN,14.38,NaN,NaN,9.90,NaN,NaN,8.19,NaN
2005-01-06,29.36,19.72,NaN,4.69,4.67,2.05,14.90,43.45,22.06,15.72,...,NaN,NaN,14.32,NaN,NaN,10.52,NaN,NaN,8.18,NaN
2005-01-07,29.38,19.92,NaN,4.82,4.80,2.12,14.84,43.54,22.09,14.86,...,NaN,NaN,14.39,NaN,NaN,10.49,NaN,NaN,8.13,NaN

In [7]:
# calculate 6 months from the start
# calculate the diff
# check if it has enough data

## Checking the price diff for just one stock

In [ ]:
single_days = data['AAPL']
single_monthly = single_days.resample('M').last()

Setting the start and end price based on lookback and skip period

In [ ]:
lookback=6
skip_months = 1
today = pd.to_datetime("2024-12-07")

end = (today-pd.DateOffset(months=skip_months+1))+ pd.offsets.MonthEnd(0)
start = (today-pd.DateOffset(months=lookback+1))+pd.offsets.MonthEnd(0)


print(f'end: {end}')    
print(f'start: {start}')

end: 2024-10-31 00:00:00
start: 2024-05-31 00:00:00

Finding the price and backward fill if the price is not found

In [68]:
try:
    start_price = single_days.loc[start]
    print("Found start_price:", start_price)
except:
    start_price = single_days[single_days.index <= start].max()
    print("Fallback start_price:", start_price)

try:
    end_price = single_days.loc[end]
    print("Found end_price:", end_price)
except:
    end_price = single_days[single_days.index <= end].max()
    print("Fallback end_price:", end_price)


diff = (end_price- start_price).round(2)
print(f'Diff: {diff}')

Found start_price: 191.36
Found end_price: 225.12
Diff: 33.76

## Check the diff for multiple stocks

In [5]:
single = data
monthly = data.resample('M').last()

/var/folders/cf/l478l_0d3t579xssqhkwdgzh0000gn/T/ipykernel_4081/994351285.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly = data.resample('M').last()

In [6]:
lookback=6
skip_months = 1
today = pd.to_datetime("2024-12-07")

end_date = (today-pd.DateOffset(months=skip_months+1))+ pd.offsets.MonthEnd(0)
start_date = (today-pd.DateOffset(months=lookback+1))+pd.offsets.MonthEnd(0)


print(f'end date: {end_date}')    
print(f'start date: {start_date}')

end date: 2024-10-31 00:00:00
start date: 2024-05-31 00:00:00

In [7]:
try:
    start_price = single.loc[start_date]
    #print("Found start_price:\n", start_price)
except:
    start_price = single[single.index <= start].max()
    #print("Fallback start_price:\n", start_price)

try:
    end_price = single.loc[end_date]
    #print("Found end_price:\n", end_price)
except:
    end_price = single[single.index <= end].max()
    #print("Fallback end_price:\n", end_price)


diff = ((end_price- start_price).nlargest(5)).round(2)
print('-------')

-------

In [8]:

comparison = pd.concat([start_price.loc[diff.index], end_price.loc[diff.index], diff], axis=1)
comparison.columns= ['Start Price','End Price','Diff']

print(comparison)

      Start Price  End Price    Diff
BKNG      3738.61    4650.94  912.33
MELI      1725.58    2037.18  311.60
NFLX       641.62     756.03  114.41
ISRG       402.12     503.84  101.72
META       464.78     566.18  101.40

In [ ]:
print(diff.index)

Index(['BKNG', 'MELI', 'NFLX', 'ISRG', 'META'], dtype='object')

In [187]:
df=single
anchor_today = pd.to_datetime('2024-12-07')
times = 3
lookback=6
skip_months = 1
top_k =2 


def cal_start_end(anchor,step):
  end_date = (anchor-pd.DateOffset(months=skip_months+1+step))+ pd.offsets.MonthEnd(0)
  start_date = (anchor-pd.DateOffset(months=lookback+1+skip_months+step))+pd.offsets.MonthEnd(0)

  return start_date, end_date

# the prev available date
def on_or_before(date, col=None):
  
  if date in df.index:
    val = df.loc[date, col] if col is not None else df.loc[date]
    prev_date =date

  else:  
    pos = df.index.searchsorted(date, side='left')-1
    if pos<0:
      raise ValueError("No available date on/before the given date")
    prev_date = df.index[pos]
    val= df.loc[prev_date, col] if col is not None else df.loc[prev_date]

  return val, prev_date

# the next available date
def on_or_after(date , col=None):
  
  pos= df.index.searchsorted(date, side='left')
  if pos<0:
      raise ValueError("No available date on/before the given date")
  next_date = df.index[pos]

  val= df.loc[next_date,col] if col is not None else df.loc[next_date]

  return val, next_date

In [188]:
capital=100
records = [] 

for step in range(times):

  start_date, end_date = cal_start_end(anchor_today,step)
  start_price, start_date = on_or_before(start_date)
  end_price, end_date = on_or_before(end_date)
  diffs = (end_price-start_price).round(2)
  leaders = diffs.nlargest(top_k)
  
  invest_ref = anchor_today-pd.DateOffset(months=step)
  invest_date = invest_ref.replace(day=1)
  sell_date = invest_date + pd.offsets.MonthEnd(0)


  k= len(diff)
  w_each = 1/k
  portfolio_return=0 
  capital_before = capital

  for ticker in leaders.index:
    invest_price, invest_date = on_or_after(invest_date,ticker)
    sell_price, sell_date = on_or_before(sell_date,ticker)
    r = (sell_price-invest_price)/invest_price  
    portfolio_return += w_each*r

    records.append({
      "step":step, 
      "invest_date": invest_date,
      "sell_date": sell_date,
      "window_start": start_date ,
      "window_end" : end_date,
      "ticker" : ticker,
      "start price": start_price[ticker],
      "end_price": end_price[ticker],
      "invest_price": invest_price,
      "sell_price":sell_price,
      "return":r 
    })

  capital *= (1+portfolio_return)

  records.append({
      "step":step, 
      "invest_date": invest_date,
      "sell_date": sell_date,
      "window_start": start_date ,
      "window_end" : end_date,
      "ticker" : "SUMMARY",
      "start price": None,
      "end_price": None,
      "invest_price": None,
      "sell_price": None, 
      "return": portfolio_return ,
      "capital_before":capital_before,
      "capital_after": capital
    })


  comparison = pd.concat([start_price.loc[diff.index], end_price.loc[diff.index], diff], axis=1)
  comparison.columns= ['Start Price','End Price','Diff']

  #print(f'------- {start_date.date()} : {end_date.date()} ------- {current_month_name}')
  #print(comparison)

In [189]:
trades = pd.DataFrame.from_records(records)
print(trades)

   step invest_date  sell_date window_start window_end   ticker  start price  \
0     0  2024-12-02 2024-12-31   2024-04-30 2024-10-31     BKNG      3417.54
1     0  2024-12-02 2024-12-31   2024-04-30 2024-10-31     MELI      1458.70
2     0  2024-12-02 2024-12-31   2024-04-30 2024-10-31  SUMMARY          NaN
3     1  2024-11-01 2024-11-29   2024-03-28 2024-09-30     BKNG      3591.63
4     1  2024-11-01 2024-11-29   2024-03-28 2024-09-30     MELI      1511.96
5     1  2024-11-01 2024-11-29   2024-03-28 2024-09-30  SUMMARY          NaN
6     2  2024-10-01 2024-10-31   2024-02-29 2024-08-30     MELI      1595.30
7     2  2024-10-01 2024-10-31   2024-02-29 2024-08-30     BKNG      3425.40
8     2  2024-10-01 2024-10-31   2024-02-29 2024-08-30  SUMMARY          NaN

   end_price  invest_price  sell_price    return  capital_before  \
0    4650.94       5196.00     4949.72 -0.047398             NaN
1    2037.18       1952.44     1700.44 -0.129069             NaN
2        NaN           NaN         NaN -0.088234      100.000000
3    4189.32       4723.40     5173.82  0.095359             NaN
4    2051.96       2054.90     1985.17 -0.033934             NaN
5        NaN           NaN         NaN  0.030713       91.176637
6    2061.66       2066.12     2037.18 -0.014007             NaN
7    3879.08       4078.79     4650.94  0.140274             NaN
8        NaN           NaN         NaN  0.063134       93.976933

   capital_after
0            NaN
1            NaN
2      91.176637
3            NaN
4            NaN
5      93.976933
6            NaN
7            NaN
8      99.910050

### Data Verification

In [191]:
print(df.loc[pd.to_datetime('2024-12-02'),'BKNG'])
print(df.loc[pd.to_datetime('2024-12-31'),'BKNG'])
print(df.loc[pd.to_datetime('2024-12-02'),'BKNG'])

5196.0
4949.72
5196.0