In [4]:
import yfinance as yf
import pandas as pd
from pandas import DataFrame

In [21]:
tickers='ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,ANSS,AAPL,AMAT,APP,ARM,ASML,AZN,TEAM,ADSK,ADP,BKR,BIIB,BKNG,AVGO,CDNS,CDW,CHTR,CTAS,CSCO,CCEP,CTSH,CMCSA,CEG,CPRT,CSGP,COST,CRWD,CSX,DDOG,DXCM,FANG,DASH,EA,EXC,FAST,FTNT,GEHC,GILD,GFS,HON,IDXX,ILMN,INTC,INTU,ISRG,KDP,KLAC,KHC,LRCX,LIN,LULU,MAR,MRVL,MELI,META,MCHP,MU,MSFT,MRNA,MDLZ,MDB,MNST,NFLX,NVDA,NXPI,ORLY,ODFL,ON,PCAR,PANW,PAYX,PYPL,PDD,PEP,QCOM,REGN,ROP,ROST,SBUX,SMCI,SNPS,TTWO,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS'

In [23]:
new_tickers = tickers.replace(',',"','")
print(new_tickers)

ADBE','AMD','ABNB','GOOGL','GOOG','AMZN','AEP','AMGN','ADI','ANSS','AAPL','AMAT','APP','ARM','ASML','AZN','TEAM','ADSK','ADP','BKR','BIIB','BKNG','AVGO','CDNS','CDW','CHTR','CTAS','CSCO','CCEP','CTSH','CMCSA','CEG','CPRT','CSGP','COST','CRWD','CSX','DDOG','DXCM','FANG','DASH','EA','EXC','FAST','FTNT','GEHC','GILD','GFS','HON','IDXX','ILMN','INTC','INTU','ISRG','KDP','KLAC','KHC','LRCX','LIN','LULU','MAR','MRVL','MELI','META','MCHP','MU','MSFT','MRNA','MDLZ','MDB','MNST','NFLX','NVDA','NXPI','ORLY','ODFL','ON','PCAR','PANW','PAYX','PYPL','PDD','PEP','QCOM','REGN','ROP','ROST','SBUX','SMCI','SNPS','TTWO','TMUS','TSLA','TXN','TTD','VRSK','VRTX','WBD','WDAY','XEL','ZS

In [24]:
tickers=['ADBE','AMD','ABNB','GOOGL','GOOG','AMZN','AEP','AMGN','ADI','ANSS','AAPL','AMAT','APP','ARM','ASML','AZN','TEAM','ADSK','ADP','BKR','BIIB','BKNG','AVGO','CDNS','CDW','CHTR','CTAS','CSCO','CCEP','CTSH','CMCSA','CEG','CPRT','CSGP','COST','CRWD','CSX','DDOG','DXCM','FANG','DASH','EA','EXC','FAST','FTNT','GEHC','GILD','GFS','HON','IDXX','ILMN','INTC','INTU','ISRG','KDP','KLAC','KHC','LRCX','LIN','LULU','MAR','MRVL','MELI','META','MCHP','MU','MSFT','MRNA','MDLZ','MDB','MNST','NFLX','NVDA','NXPI','ORLY','ODFL','ON','PCAR','PANW','PAYX','PYPL','PDD','PEP','QCOM','REGN','ROP','ROST','SBUX','SMCI','SNPS','TTWO','TMUS','TSLA','TXN','TTD','VRSK','VRTX','WBD','WDAY','XEL','ZS']

In [53]:
raw_data = yf.download(tickers,'2005-01-01','2025-01-01', group_by='ticker', auto_adjust=False)

[*********************100%***********************]  101 of 101 completed

In [54]:
raw_data['ANSS']['Adj Close']

Date
2005-01-03     16.125000
2005-01-04     16.200001
2005-01-05     16.200001
2005-01-06     15.720000
2005-01-07     14.865000
                 ...
2024-12-24    342.839996
2024-12-26    340.160004
2024-12-27    339.704987
2024-12-30    337.920013
2024-12-31    337.329987
Name: Adj Close, Length: 5033, dtype: float64

In [63]:
adj_close_dict = {}

for ticker in tickers :
  adj_close_dict[ticker] = raw_data[ticker]['Adj Close']

data = pd.DataFrame(adj_close_dict)

In [64]:
data= adj_close.round(2)
data.head()

,ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,ANSS,...,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-03,30.84,21.41,NaN,5.04,5.02,2.23,15.13,44.45,22.61,16.12,...,NaN,NaN,15.19,NaN,NaN,10.24,NaN,NaN,8.41,NaN
2005-01-04,30.02,20.21,NaN,4.84,4.82,2.11,15.07,43.74,22.00,16.20,...,NaN,NaN,14.82,NaN,NaN,10.09,NaN,NaN,8.29,NaN
2005-01-05,29.86,19.75,NaN,4.81,4.79,2.09,14.90,43.05,22.10,16.20,...,NaN,NaN,14.38,NaN,NaN,9.90,NaN,NaN,8.19,NaN
2005-01-06,29.36,19.72,NaN,4.69,4.67,2.05,14.90,43.45,22.06,15.72,...,NaN,NaN,14.32,NaN,NaN,10.52,NaN,NaN,8.18,NaN
2005-01-07,29.38,19.92,NaN,4.82,4.80,2.12,14.84,43.54,22.09,14.86,...,NaN,NaN,14.39,NaN,NaN,10.49,NaN,NaN,8.13,NaN

In [65]:
data.to_pickle('cached_data/all_data.pkl')

In [4]:
data= pd.read_pickle('cached_data/all_data.pkl')

In [6]:
data.head()

,ADBE,AMD,ABNB,GOOGL,GOOG,AMZN,AEP,AMGN,ADI,ANSS,...,TMUS,TSLA,TXN,TTD,VRSK,VRTX,WBD,WDAY,XEL,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-03,30.84,21.41,NaN,5.04,5.02,2.23,15.13,44.45,22.61,16.12,...,NaN,NaN,15.19,NaN,NaN,10.24,NaN,NaN,8.41,NaN
2005-01-04,30.02,20.21,NaN,4.84,4.82,2.11,15.07,43.74,22.00,16.20,...,NaN,NaN,14.82,NaN,NaN,10.09,NaN,NaN,8.29,NaN
2005-01-05,29.86,19.75,NaN,4.81,4.79,2.09,14.90,43.05,22.10,16.20,...,NaN,NaN,14.38,NaN,NaN,9.90,NaN,NaN,8.19,NaN
2005-01-06,29.36,19.72,NaN,4.69,4.67,2.05,14.90,43.45,22.06,15.72,...,NaN,NaN,14.32,NaN,NaN,10.52,NaN,NaN,8.18,NaN
2005-01-07,29.38,19.92,NaN,4.82,4.80,2.12,14.84,43.54,22.09,14.86,...,NaN,NaN,14.39,NaN,NaN,10.49,NaN,NaN,8.13,NaN

In [7]:
# calculate 6 months from the start
# calculate the diff
# check if it has enough data

## Checking the price diff for just one stock

In [ ]:
single_days = data['AAPL']
single_monthly = single_days.resample('M').last()

Setting the start and end price based on lookback and skip period

In [ ]:
lookback=6
skip_months = 1
today = pd.to_datetime("2024-12-07")

end = (today-pd.DateOffset(months=skip_months+1))+ pd.offsets.MonthEnd(0)
start = (today-pd.DateOffset(months=lookback+1))+pd.offsets.MonthEnd(0)


print(f'end: {end}')    
print(f'start: {start}')

end: 2024-10-31 00:00:00
start: 2024-05-31 00:00:00

Finding the price and backward fill if the price is not found

In [68]:
try:
    start_price = single_days.loc[start]
    print("Found start_price:", start_price)
except:
    start_price = single_days[single_days.index <= start].max()
    print("Fallback start_price:", start_price)

try:
    end_price = single_days.loc[end]
    print("Found end_price:", end_price)
except:
    end_price = single_days[single_days.index <= end].max()
    print("Fallback end_price:", end_price)


diff = (end_price- start_price).round(2)
print(f'Diff: {diff}')

Found start_price: 191.36
Found end_price: 225.12
Diff: 33.76

## Check the diff for multiple stocks

In [5]:
single = data
monthly = data.resample('M').last()

/var/folders/cf/l478l_0d3t579xssqhkwdgzh0000gn/T/ipykernel_4081/994351285.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly = data.resample('M').last()

In [6]:
lookback=6
skip_months = 1
today = pd.to_datetime("2024-12-07")

end_date = (today-pd.DateOffset(months=skip_months+1))+ pd.offsets.MonthEnd(0)
start_date = (today-pd.DateOffset(months=lookback+1))+pd.offsets.MonthEnd(0)


print(f'end date: {end_date}')    
print(f'start date: {start_date}')

end date: 2024-10-31 00:00:00
start date: 2024-05-31 00:00:00

In [7]:
try:
    start_price = single.loc[start_date]
    #print("Found start_price:\n", start_price)
except:
    start_price = single[single.index <= start].max()
    #print("Fallback start_price:\n", start_price)

try:
    end_price = single.loc[end_date]
    #print("Found end_price:\n", end_price)
except:
    end_price = single[single.index <= end].max()
    #print("Fallback end_price:\n", end_price)


diff = ((end_price- start_price).nlargest(5)).round(2)
print('-------')

-------

In [8]:

comparison = pd.concat([start_price.loc[diff.index], end_price.loc[diff.index], diff], axis=1)
comparison.columns= ['Start Price','End Price','Diff']

print(comparison)

      Start Price  End Price    Diff
BKNG      3738.61    4650.94  912.33
MELI      1725.58    2037.18  311.60
NFLX       641.62     756.03  114.41
ISRG       402.12     503.84  101.72
META       464.78     566.18  101.40

In [9]:
print(diff.index)

Index(['BKNG', 'MELI', 'NFLX', 'ISRG', 'META'], dtype='object')

In [ ]:
import pandas as pd

times = 5
lookback=6
skip_months = 1

today = pd.to_datetime('2024-12-07')

capital=100


for i in range(times):

  end_date = (today-pd.DateOffset(months=skip_months+1+i))+ pd.offsets.MonthEnd(0)
  start_date = (today-pd.DateOffset(months=lookback+1+skip_months+i))+pd.offsets.MonthEnd(0)

  try:
    start_price = single.loc[start_date]
  except:
    start_price = single[single.index <= start_date].max()

  try:
    end_price = single.loc[end_date]
  except:
    end_price = single[single.index <= end_date].max()

  if i==0:
    today
  else:
    today=today-pd.DateOffset(months=1)

  invest_date = today.replace(day=1)
  sell_date = invest_date + pd.offsets.MonthEnd(0)
  invest_month_name = today.month_name()

  diff = ((end_price-start_price).nlargest(1)).round(2)

  for i in diff.index:
    try:
      invest_price = single.loc[invest_date,i]
      print(invest_date ,invest_price)
    except:
      print('Forward Fill')
      invest_date=single[single.index>=invest_date].index.min()
      invest_price = single.loc[invest_date,i]
      print(invest_date,invest_price)

    #Sell prices and date 
    try:
      sell_price = single.loc[sell_date,i]
      print(sell_date ,sell_price)
    except:
      print('Backward Fill')
      sell_date=single[single.index<=sell_date].index.max()
      sell_price = single.loc[sell_date,i]
      print(sell_date,sell_price)

    percent_return = (sell_price-invest_price)/invest_price

  comparison = pd.concat([start_price.loc[diff.index], end_price.loc[diff.index], diff], axis=1)
  comparison.columns= ['Start Price','End Price','Diff']
  #print(f'------- {start_date.date()} : {end_date.date()} ------- {current_month_name}')
  #print(comparison)

Forward Fill
2024-12-02 00:00:00 5196.0
2024-12-31 00:00:00 4949.72
2024-11-01 00:00:00 4723.4
Backward Fill
2024-11-29 00:00:00 5173.82
2024-10-01 00:00:00 748.11
2024-10-31 00:00:00 661.3
Forward Fill
2024-09-03 00:00:00 3784.36
2024-09-30 00:00:00 4189.32
2024-08-01 00:00:00 3635.92
Backward Fill
2024-08-30 00:00:00 3879.08

In [75]:
date = pd.to_datetime('2024-12-01')

try:
  print(single.loc[date])
  print(date.day_name())

except:
  print('forward fill')
  test=single[single.index>=date].index.min()
  print(test)
  date = single[single.index>=date].index.min()
  #print(single.loc[date])

forward fill
2024-12-02 00:00:00